For this problem-set we will be using the notebook `19. Analizando Datos Econ칩micos`. Read the notebook `19. Analizando Datos Econ칩micos` and asks questions on the QA about everything you do not understand. 

Do not go further than the `Lets INNER JOIN our state_api dataframes` title, as we will be covering it later (you can look it anyway :D)

**Notes** Try importing all the libraries of the notebook. If you have problems importing libraries, write on a jupyter chunk the following code and run it: 

`!pip install requests`

`!pip install sqlalchemy`

`!pip install seaborn`

In [1]:
!pip install requests

!pip install sqlalchemy

!pip install seaborn

Requirement already satisfied: requests in c:\users\taisn\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\taisn\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\taisn\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\taisn\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\taisn\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: sqlalchemy in c:\users\taisn\anaconda3\lib\site-packages (1.3.18)
Requirement already satisfied: seaborn in c:\users\taisn\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\taisn\anaconda3\lib\site-packages (from seaborn) (1.18.5)
Requirement already satisfied: matplotlib>=2.1.2 in c:\users\taisn\anaconda3\lib\site-packages (from seaborn) (3.2.2)
Requirement already satisfied: pandas>=0.22.0 in c:\users\taisn\anaconda3\lib\site-packages (from seaborn) (1.0.5)
Requirement already satisfied: scipy>=1.0.1 in c:\users\taisn\anaconda3\lib\site-packages (from seaborn) (1.5.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\taisn\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\taisn\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\taisn\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\taisn\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\taisn\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\taisn\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=2.1.2->seaborn) (1.15.0)

**1.** Using the pandas dataframe `states`, create a new column `check_total` that represent the sum of each row and check if it's the same as the column `total`. What percentage of Hispanics identify as `Other`? Hint: Try yo figure out what `.sum()` does.

In [8]:
import pandas as pd

In [31]:
datos= pd.read_csv('../data/19. Analizando Datos Econ칩micos/states.csv',index_col=0)
datos.head()

,total,nonhispanic,white,black,aian,asian,pacific,other,multiracial,hispanic,hispanic_white,hispanic_black,hispanic_aian,hispanic_asian,hispanic_pacific,hispanic_other,hispanic_multiracial
Alabama,4779736,4594134,3204402,1244437,25907,52937,1976,4030,60445,185602,70992,6874,2311,658,1081,92880,10806
Alaska,710231,670982,455320,21949,102556,37459,7219,1111,45368,39249,18256,1314,2315,676,190,9991,6507
Arizona,6392017,4496868,3695647,239101,257426,170509,10959,8595,114631,1895149,971474,19907,39103,6186,1689,753121,103669
Arkansas,2915918,2729868,2173469,447102,20183,35647,5509,2121,45837,186050,71760,2793,2065,455,354,97450,11173
California,37253956,23240237,14956253,2163804,162250,4775070,128577,85587,968696,14013719,6497681,135268,200551,85937,15809,6231785,846688

In [6]:
#check_total= datos['total'].sum() #si yo pongo datos[check_total] me arma una nueva columna. dsp le pongo datos.head() para verla
datos.columns#print(check_total,'personas')#yo hice mal y sume todos los datos, esto debia agregar una columna y sumar fila
states[check_total]= states['nonhispanic']+ states['hispanic']
mask = states['total'] == states['check_total']
states[mask].head()

NameError: name 'datos' is not defined

In [48]:
# el porcentaje que se identifica a otros
# Use f-string to show it nicely
hisp_pct = 100 * datos['hispanic_other'].sum() / datos['hispanic'].sum()
print(f'porcentaje que se identifican como otros: {hisp_pct} %')

porcentaje que se identifican como otros: 34.69328545635662 %

**2.** Show the 3 top states with the largest value in column `hispanic_asian` using the pandas dataframe `states_hr`.

In [70]:
datos.nlargest(3, 'hispanic_asian')

,total,nonhispanic,white,black,aian,asian,pacific,other,multiracial,hispanic,hispanic_white,hispanic_black,hispanic_aian,hispanic_asian,hispanic_pacific,hispanic_other,hispanic_multiracial
California,37253956,23240237,14956253,2163804,162250,4775070,128577,85587,968696,14013719,6497681,135268,200551,85937,15809,6231785,846688
Texas,25145561,15684640,11397345,2886825,80586,948426,17920,33980,319558,9460921,6304207,92773,90386,16170,3736,2594206,359443
New York,19378102,15961180,11304247,2783857,53908,1406194,5320,81620,326034,3416922,1436727,289943,52998,14050,3446,1359943,259815

**3.** Create a copy pandas dataframe called `state_api_class` from `states_api1`. 
    
- Rename the columns from the pandas dataframe `state_api_class` with the list `["nombre", "mediana_edad", "tama침o_familiar_promedio", "estado"]`. 
- Create the column `nombre_lower` which takes to lowercase the column `nombre`.
- Keep only rows where `nomber_lower` starts with `n`.

**4.** Create a new pandas dataframe called `states_above_median` from `states_api1` that contains only rows where `median_age` is above the mean of the sample plus 1 standard deviation. Then, get the mean value of `avg_family_size`.

**5.** Using `.scatter` from matplotlib, check from the pandas dataframe `states_api2` if there is any relationship between the columns `in_adult_pct` and `in_juvenile_pct`. **HINT:** Be creative :)

Try things like:
- Adding a measure of size with the parameter `s`
- Adding color with the parameter `c`
- Putting it a title and name the axis
- Adding some text inside the chart!
- ... 

Save it and share it on the `forum` section of teams!